.chat-window {
    height: 200px;
    overflow-y: auto;
    padding: 0.5rem;
    background-color: #f4f6f9;
    border: 1px solid #d8dde6;
    margin-bottom: 1rem;
}

.bot {
    text-align: left;
    color: #032d60;
    margin: 0.5rem 0;
}

.user {
    text-align: right;
    color: #0070d2;
    margin: 0.5rem 0;
}
