.myCarousel
{
    background-color: #0a0a0afc;
}
.wrapper
{
    background-color: #0a0a0afc;
}
.myTabset
{
    background-color: #0a0a0afc;
}
/* .c-container {
   
    margin: 10px 0 20px;
} */

.header-column {
    padding: 0 2rem;
}
:host {
    --slds-c-accordion-summary-color-background: rgba(24, 50, 102, 0.817);
    --slds-c-accordion-heading-text-color-hover: #965443;
;
    
}
.field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;  
}
.pro-header{
    font-size: larger;
    color: #54698d;
}
.sub-header{
    font-size: medium;
    color:#55627b;
}